<h3 class="create-account">Create account</h3>
<%= form_for @user, :url => url_for(:controller => 'registration', :action => 'create'), :html => { :class => "form-horizontal user col-md-6 col-lg-6" } do |f| %>

    <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :full_name, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :full_name, :class => 'form-control', required: true %>
    </div>
    <%= error_span(@user[:full_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label required' %>
    <div class="controls">
      <%= f.email_field :email, :class => 'form-control', required: true %>
    </div>
    <%= error_span(@user[:email]) %>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label required' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'form-control', required: true %>
    </div>
    <%= error_span(@user[:password]) %>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label required' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'form-control', required: true %>
    </div>
    <%= error_span(@user[:password_confirmation]) %>
  </div>

  <div class="row">
   <%= submit_tag "Create your account", class: "btn btn-default form-control create" %>
  </div>

<% end %>
