

<div class="row carousel-holder">

    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="http://i.imgur.com/qo4fmTi.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="http://i.imgur.com/5Lnkakp.jpg" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="http://i.imgur.com/sO3VDoL.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <% @products_new.each { |product| %>
        <div class="col-xs-12 col-md-4 col-lg-4 product">
            <%= link_to show_product_path(product.id) do %>
            <div class="thumbnail">
            <span class="label newproduct">NEW</span>
               <%= image_tag product.image %>
                <div class="caption">
                    <h4 class="pull-right">$<%= product.price %></h4>
                    <h4 class="product-title"><%= product.title %></h4>
                    <p class="single-item-description"><%= product.description %></p>
            <% end %>
                    <a href="/cart/<%= product.id %>" class="btn btn-small btn-primary">Add To Cart</a>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
   <% } %>
   <% @products_sale.each { |product| %>
        <div class="col-xs-12 col-md-4 col-lg-4 product">
            <%= link_to show_product_path(product.id) do %>
            <div class="thumbnail">
            <span class="label newproduct">SALE</span>
               <%= image_tag product.image %>
                <div class="caption">
                    <h4 class="line-through">$<%= product.price.round(2) %></h4>
                    <h4 class="pull-right price">$<%= product.apply_discount.round(2) %></h4>
                    <h4 class="product-title"><%= product.title %></h4>
                    <p class="single-item-description"><%= product.description %></p>
             <% end %>
                    <a href="/cart/<%= product.id %>" class="btn btn-small btn-primary">Add To Cart</a>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
   <% } %>
</div>
