<%= form_for @color, :html => { :class => "form-horizontal color col-md-6 col-lg-7" } do |f| %>

    <% if @color.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@color.errors.count, "error") %> prohibited this color from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @color.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control', required: true %>
    </div>
    <%= error_span(@color[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :hex, :class => 'control-label required' %>
    <div class="controls">
      <%= f.color_field :hex, :class => "form-control", required: true %>
      
    </div>
    <%= error_span(@color[:hex]) %>
  </div>

  <div class="row">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              colors_path, :class => 'btn btn-default' %>
  </div>

  <script>
    $("form").change(function () {
      if (!window.onbeforeunload) {
        window.onbeforeunload = function() {
          return "You have unsaved changes.";
        };
      };
    })

    $("form").submit(function () {
      window.onbeforeunload = null;
    });
  </script>

<% end %>
