<%= form_for @product, :html => { :class => "form-horizontal product" } do |f| %>

    <% if @product.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label required' %>
    <div class="left-inner-addon">
      <span>$</span>
      <div class="controls">
        <%= f.text_field :price, :class => 'form-control' %>
      </div>
    </div>
    <%= error_span(@product[:price]) %>
  </div>
   <div class="control-group">
    <%= f.label :image, :class => 'control-label required' %>
    <div class="controls">
      <%= f.file_field :image, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:image]) %>
  </div>
  <div class="control-group">
    <%= f.label :size, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :size, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:size]) %>
  </div>
   <div class="control-group">
    <%= f.label :category_id, :class => 'control-label required' %>
    <div class="controls">
      <%= f.collection_select :category_id, @categories, :id, :name, {}, {:class=>'form-control'} %>
    </div>
    <%= error_span(@product[:category_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :brand_id, :class => 'control-label required' %>
    <div class="controls">
      <%= f.collection_select :brand_id, @brands, :id, :name, {}, {:class=>'form-control'} %>
    </div>
    <%= error_span(@product[:brand_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :color, :class => 'control-label required' %>
    <div class="controls">
      <select name="product[color]" id="product_color" class="form-control">
        <%= options_for_select([["Select color",""], ["Red","red"],  ["Pink", "pink"], ["Orange", "orange"], ["Yellow", "yellow"],
        ["Green", "green"], ["Blue", "blue"], ["Navy", "navy"], ["Gray", "gray"], ["Black", "black"], ["Brown", "brown"]],@product.color) %>
      </select>
    </div>
    <%= error_span(@product[:color]) %>
  </div>
  <div class="control-group">
    <%= f.label :discount, :class => 'control-label required' %>
    <div class="right-inner-addon">
      <span>%</span>
      <div class="controls">
        <%= f.text_field :discount, :class => 'form-control' %>
      </div>
    </div>
    <%= error_span(@product[:discount]) %>
  </div>

  <div class="row">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              products_path, :class => 'btn btn-default' %>
  </div>

<% end %>
