<div class="row">
  <form class="form form-inline" method="get">
    <input type="text" name="min_price" placeholder="Min price" class="form-control" value="<%= @min_price %>">
    <input type="text" name="max_price" placeholder="Max price" class="form-control" value="<%= @max_price %>">
    <select name="brand_id" class="form-control">
      <option value="">Select brand</option>
      <% Brand.all.each {|brand| %>
        <option value="<%=brand.id%>" <% if @brand_id == brand.id %>selected<% end %>><%= brand.name %></option>
      <% } %>
    </select>
    <input type="submit" value="Filter" class="form-control">
  </form>
</div>
<div class="row">
    <% @products.each { |product| %>
        <div class="col-sm-1 col-lg-4 col-md-1">
            <div class="thumbnail">
               <%= image_tag product.image %>
               <div class="caption">
                    <h4 class="pull-right">$<%= product.price %></h4>
                    <h4><%= link_to product.title, show_product_path(product.id) %></h4>
                    <p><%= product.description %></p>
               </div>
            </div>
        </div>
   <% } %>
</div>